# Assignment 4 - Web Scraping

To get 
information about selenium Exceptions. You may visit following links:
1. https://selenium-python.readthedocs.io/api.html
2. https://www.guru99.com/exception-handling-selenium.html
3. https://stackoverflow.com/questions/38022658/selenium-python-handling-no-such-elementexception/38023345

In [1]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Import Selenium webdriver
from selenium import webdriver

# Import required exceptions which need to be handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException, ElementNotInteractableException, ElementClickInterceptedException
from selenium.webdriver.common.keys import Keys

# Import requests
import requests

from selenium.webdriver.common.by import By
import urllib.request
import os

### 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
driver=webdriver.Chrome(r"C:\Users\JPGD\Documents\ANDREA GOMEZ\FLIP ROBO TECHNOLOGIES INTERNSHIP\chromedriver_win32 2\chromedriver.exe")

In [3]:
# Opening the page on automated chrome browser
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
table_body=driver.find_element(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]')
Data_1=[]
for tr in table_body.find_elements(By.XPATH,"//tr"):
    row=[item.text for item in tr.find_elements(By.XPATH,'.//td')]
    Data_1.append(row)

In [ ]:
#print(Data_1)

In [29]:
# Create empty lists
rank1=[]
nm=[]
art=[]
upd=[]
views1=[]

# Scraping search details
Rank_tag=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[1]')
Name_tag=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[2]')
Artist_tag=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[3]')
Upload_date=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[5]')
Views=driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr/td[4]')

for rank in Rank_tag:
    rank1.append(rank.text)
for name in Name_tag:
    nm.append(name.text.split("["))
for artist in Artist_tag:
    art.append(artist.text)
for upload in Upload_date:
    upd.append(upload.text)
for views in Views:
    views1.append(views.text)

In [37]:
nm2=[]
name1=[x[0] for x in nm]
for i in name1:
    nm2.append(i.replace('"',""))
    
#print(nm2)

['Baby Shark Dance', 'Despacito', 'Johny Johny Yes Papa', 'Bath Song', 'Shape of You', 'See You Again', 'Phonics Song with Two Words', 'Wheels on the Bus', 'Uptown Funk', 'Learning Colors – Colorful Eggs on a Farm', 'Gangnam Style', 'Masha and the Bear – Recipe for Disaster', 'Dame Tu Cosita', 'Axel F', 'Sugar', 'Roar', 'Counting Stars', 'Sorry', 'Baa Baa Black Sheep', 'Thinking Out Loud', 'Waka Waka (This Time for Africa)', 'Dark Horse', 'Lakdi Ki Kathi', 'Faded', 'Perfect', 'Let Her Go', 'Girls Like You', 'Humpty the train on a fruits ride', 'Lean On', 'Bailando']

In [38]:
print(len(rank1),len(nm2),len(art),len(upd),len(views1))

30 30 30 30 30

In [39]:
df1=pd.DataFrame({'Ranking':rank1,'Name':nm2,'Artist':art,'Upload Date':upd,'Views':views1})
df1.set_index('Ranking',inplace=True)
df1

,Name,Artist,Upload Date,Views
Ranking,,,,
1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.85
2.,Despacito,Luis Fonsi,"January 12, 2017",8.16
3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.70
4.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",6.20
5.,Shape of You,Ed Sheeran,"January 30, 2017",6.00
6.,See You Again,Wiz Khalifa,"April 6, 2015",5.89
7.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",5.30
8.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",5.24
9.,Uptown Funk,Mark Ronson,"November 19, 2014",4.92
10.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.89
11.,Gangnam Style,Psy,"July 15, 2012",4.80
12.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.55
13.,Dame Tu Cosita,El Chombo,"April 5, 2018",4.35
14.,Axel F,Crazy Frog,"June 16, 2009",3.91
15.,Sugar,Maroon 5,"January 14, 2015",3.87
16.,Roar,Katy Perry,"September 5, 2013",3.80
17.,Counting Stars,OneRepublic,"May 31, 2013",3.79
18.,Sorry,Justin Bieber,"October 22, 2015",3.66
19.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.64
20.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.60
21.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.59
22.,Dark Horse,Katy Perry,"February 20, 2014",3.52
23.,Lakdi Ki Kathi,Jingle Toons,"June 14, 2018",3.48
24.,Faded,Alan Walker,"December 3, 2015",3.45
25.,Perfect,Ed Sheeran,"November 9, 2017",3.45
26.,Let Her Go,Passenger,"July 25, 2012",3.44
27.,Girls Like You,Maroon 5,"May 31, 2018",3.42
28.,Humpty the train on a fruits ride,Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.41
29.,Lean On,Major Lazer,"March 22, 2015",3.38
30.,Bailando,Enrique Iglesias,"April 11, 2014",3.38

### 2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [44]:
driver=webdriver.Chrome(r"C:\Users\JPGD\Documents\ANDREA GOMEZ\FLIP ROBO TECHNOLOGIES INTERNSHIP\chromedriver_win32 2\chromedriver.exe")

In [45]:
# Opening the page on automated chrome browser
driver.get("https://www.bcci.tv/")

In [47]:
# Close popup window
closew=driver.find_element(By.XPATH,"/html/body/div[15]/button")
closew.click()

In [48]:
# Click "International" option
search_button=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
search_button.click()

In [129]:
# Create empty lists
m_title=[]
series=[]
place=[]
date=[]
time=[]


# Scraping search details
t_tag=driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')
series_tag=driver.find_elements('tag name','h5')
place_tag=driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
date_tag=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
time_tag=driver.find_elements(By.CLASS_NAME,'match-info')

for i in t_tag:
    m_title.append(i.text.replace(" -",""))
for i in series_tag:
    series.append(i.text)
for i in place_tag:
    place.append(i.text)
for i in date_tag:
    date.append(i.text)
for i in time_tag:
    time.append(i.text.split("\n"))
time=[x[1] for x in time]
series.pop()

''

In [115]:
print(len(m_title),len(series),len(place),len(date),len(time))

8 8 8 8 8

In [130]:
df2=pd.DataFrame({'Match Title':m_title,'Series':series,'Place':place,'Date':date,'Time':time})
df2.index+=1
df2

,Match Title,Series,Place,Date,Time
1,1st T20I,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",9 JUL 2023,3:00 AM HDE
2,2nd T20I,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",11 JUL 2023,3:00 AM HDE
3,1st Test,INDIA TOUR OF WEST INDIES 2023,"Windsor Park,",12 JUL 2023,9:00 AM HDE
4,3rd T20I,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",13 JUL 2023,3:00 AM HDE
5,1st ODI,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",15 JUL 2023,10:30 PM HDE
6,2nd ODI,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",18 JUL 2023,10:30 PM HDE
7,2nd Test,INDIA TOUR OF WEST INDIES 2023,"Queen's Park Oval,",20 JUL 2023,9:00 AM HDE
8,3rd ODI,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",21 JUL 2023,10:30 PM HDE

### 3. Scrape the details of State-wise GDP of India from statisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [136]:
driver=webdriver.Chrome(r"C:\Users\JPGD\Documents\ANDREA GOMEZ\FLIP ROBO TECHNOLOGIES INTERNSHIP\chromedriver_win32 2\chromedriver.exe")

# Opening the page on automated chrome browser
driver.get("http://statisticstimes.com/")

In [137]:
# Close popup window
closew=driver.find_element(By.XPATH,"/html/body/div[1]/div/a")
closew.click()

In [146]:
# Click "Economy" page
search_button=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
search_button.click()

# Click "India" option
search_button=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
search_button.click()

In [147]:
# Click "GDP of Indian States" option
search_button=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
search_button.click()

In [150]:
# Create empty lists

Rank_3=[]
State=[]
GSDP1_CP=[]
GSDP2_CP=[]
Share=[]
GDP_B=[]

rank_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[1]')
state_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[2]')
gsdp_1_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[4]')
gsdp_2_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[3]')
share_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[5]')
gdp_b_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[6]')

for i in rank_tag:
    Rank_3.append(i.text)
for i in state_tag:
    State.append(i.text)
for i in gsdp_1_tag:
    GSDP1_CP.append(i.text)
for i in gsdp_1_tag:
    GSDP2_CP.append(i.text)
for i in share_tag:
    Share.append(i.text)
for i in gdp_b_tag:
    GDP_B.append(i.text)

In [151]:
print(len(Rank_3),len(State),len(GSDP1_CP),len(GSDP2_CP),len(Share),len(GDP_B))

33 33 33 33 33 33

In [153]:
df3=pd.DataFrame({'Rank':Rank_3,'State':State,'GSDP(18-19)- at current prices':GSDP1_CP,'GSDP(19-20)- at current prices':GSDP2_CP,
                  'Share(18-19)':Share,'GDP($ billion)':GDP_B})
df3.set_index('Rank',inplace=True)
df3

,State,GSDP(18-19)- at current prices,GSDP(19-20)- at current prices,Share(18-19),GDP($ billion)
Rank,,,,,
1,Maharashtra,"2,632,792","2,632,792",13.94%,399.921
2,Tamil Nadu,"1,630,208","1,630,208",8.63%,247.629
3,Uttar Pradesh,"1,584,764","1,584,764",8.39%,240.726
4,Gujarat,"1,502,899","1,502,899",7.96%,228.290
5,Karnataka,"1,493,127","1,493,127",7.91%,226.806
6,West Bengal,"1,089,898","1,089,898",5.77%,165.556
7,Rajasthan,"942,586","942,586",4.99%,143.179
8,Andhra Pradesh,"862,957","862,957",4.57%,131.083
9,Telangana,"861,031","861,031",4.56%,130.791
10,Madhya Pradesh,"809,592","809,592",4.29%,122.977
11,Kerala,"781,653","781,653",4.14%,118.733
12,Delhi,"774,870","774,870",4.10%,117.703
13,Haryana,"734,163","734,163",3.89%,111.519
14,Bihar,"530,363","530,363",2.81%,80.562
15,Punjab,"526,376","526,376",2.79%,79.957
16,Odisha,"487,805","487,805",2.58%,74.098
17,Assam,"315,881","315,881",1.67%,47.982
18,Chhattisgarh,"304,063","304,063",1.61%,46.187
19,Jharkhand,"297,204","297,204",1.57%,45.145
20,Uttarakhand,"245,895","245,895",1.30%,37.351
21,Jammu & Kashmir,"155,956","155,956",0.83%,23.690
22,Himachal Pradesh,"153,845","153,845",0.81%,23.369
23,Goa,"73,170","73,170",0.39%,11.115
24,Tripura,"49,845","49,845",0.26%,7.571
25,Chandigarh,"42,114","42,114",0.22%,6.397
26,Puducherry,"34,433","34,433",0.18%,5.230
27,Meghalaya,"33,481","33,481",0.18%,5.086
28,Sikkim,"28,723","28,723",0.15%,4.363
29,Manipur,"27,870","27,870",0.15%,4.233
30,Nagaland,"27,283","27,283",0.14%,4.144
31,Arunachal Pradesh,"24,603","24,603",0.13%,3.737
32,Mizoram,"22,287","22,287",0.12%,3.385
33,Andaman & Nicobar Islands,-,-,-,-

### 4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [2]:
driver=webdriver.Chrome(r"C:\Users\JPGD\Documents\ANDREA GOMEZ\FLIP ROBO TECHNOLOGIES INTERNSHIP\chromedriver_win32 2\chromedriver.exe")

# Opening the page on automated chrome browser
driver.get("https://github.com/")

In [14]:
# Click the trending button
# search_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span/span/div[3]')
# search_button.click()

In [15]:
#https://stackoverflow.com/questions/47343091/python-selenium-scraping-dynamic-drop-down

In [3]:
# Click open source button
search_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
search_button.click()

# Click the trending button
search_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
search_button.click()

In [4]:
# Fetch URL to open each repository link

repository_opening_url=[]

url=driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/h2/a')
for i in url:
    repository_opening_url.append(i.get_attribute('href'))
    repository_opening_url

In [5]:
 print(len(repository_opening_url))

25

In [16]:
# Create empty lists
Repository_t=[] 
Repository_description=[]
Contributors_count=[]
Language=[]
# Scraping data

for i in repository_opening_url:
    driver.get(i)
    time.sleep(10)
    try:
        R_tag=driver.find_element(By.XPATH,'//strong[@class="mr-2 flex-self-stretch"]')
        Repository_t.append(R_tag.text)
    except NoSuchElementException:
        Repository_t.append("-")
    try:
        Rd_tag=driver.find_element(By.XPATH,'//p[@class="f4 my-3"]')
        Repository_description.append(Rd_tag.text)
    except NoSuchElementException:
        Repository_description.append("-")
    try:
        C_count_tag=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[4]/div/h2/a/span')
        Contributors_count.append(C_count_tag.text)
    except NoSuchElementException:
        Contributors_count.append("-")
    try:
        L_tag=driver.find_element(By.XPATH,'//span[@class="color-fg-default text-bold mr-1"]')
        Language.append(L_tag.text)
    except NoSuchElementException:
        Language.append("-")

In [17]:
print(len(Repository_t),len(Repository_description),len(Contributors_count),len(Language))

25 25 25 25

In [18]:
df4=pd.DataFrame({'Repository Title':Repository_t,'Repository Description':Repository_description,'Contributors Count':Contributors_count,'Language':Language})
df4.index+=1
df4

,Repository Title,Repository Description,Contributors Count,Language
1,MobileSAM,This is the official code for Faster Segment A...,4,Jupyter Notebook
2,mpt-30B-inference,Run inference on MPT-30B using CPU,-,Python
3,Block-Pornographic-Replies,屏蔽推特回复下的黄推。Block pornographic replies below th...,-,JavaScript
4,open-source-course,-,-,-
5,PowerShell,PowerShell for every system!,-,C#
6,DragGAN,Official Code for DragGAN (SIGGRAPH 2023),14,Python
7,folly,An open-source C++ library developed and used ...,-,C++
8,Tkinter-Designer,An easy and fast way to create a Python GUI 🐍,82,Python
9,papers-we-love,Papers from the computer science community to ...,-,Shell
10,LLMs-In-China,中国大模型,-,-
11,project-based-learning,Curated list of project-based tutorials,104,-
12,copilot-analysis,-,-,JavaScript
13,eShopOnContainers,Cross-platform .NET sample microservices and c...,12,C#
14,free-programming-books,📚 Freely available programming books,"2,517",-
15,chinese-poetry,The most comprehensive database of Chinese poe...,,JavaScript
16,telegram-groups,经过精心筛选，从5000+个电报群组/频道/机器人中挑选出的优质推荐！如果您有更多值得推荐的...,-,Python
17,questdb,An open source time-series database for fast i...,114,Java
18,unidbg-fetch-qsign,获取QQSign通过Unidbg,-,Kotlin
19,composer,Train neural networks up to 7x faster,77,Python
20,DataX,DataX是阿里云DataWorks数据集成的开源版本。,-,Java
21,AFFiNE,There can be more than Notion and Miro. AFFiNE...,9,TypeScript
22,aigc,《构筑大语言模型应用：应用开发与架构设计》一本关于 LLM 在真实世界应用的开源电子书，介绍...,6,Rust
23,background-removal-js,Remove backgrounds from images directly in the...,1,TypeScript
24,sourcegraph,Code Intelligence Platform,347,Go
25,vue3-antd-admin,基于vue-cli5.x/vite2.x + vue3.x + ant-design-vue...,7,Vue

### 5. Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [166]:
driver=webdriver.Chrome(r"C:\Users\JPGD\Documents\ANDREA GOMEZ\FLIP ROBO TECHNOLOGIES INTERNSHIP\chromedriver_win32 2\chromedriver.exe")

# Opening the page on automated chrome browser
driver.get("https:/www.billboard.com/")

In [167]:
# Close popup window
closew=driver.find_element(By.XPATH,"/html/body/div[5]/div[2]/div/div/div[2]/div/div/button[1]")
closew.click()

In [170]:
# Click the menu button

search_button=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
search_button.click()

In [171]:
# Click the chart option

search_button=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/button/span')
search_button.click()

In [172]:
# Click the Hot 100 option

search_button=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a')
search_button.click()

In [174]:
# Create empty lists

S_name=[]
A_name=[]
Lw_rank=[]
P_rank=[]
W_board=[]

# Scraping search details

sname_tag=driver.find_elements(By.XPATH,"/html/body/div[4]/main/div[2]/div/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/h3")
aname_tag=driver.find_elements(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/span")
lw_rank_tag=driver.find_elements(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[4]/span")
p_rank_tag=driver.find_elements(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[5]/span")
W_board_tag=driver.find_elements(By.XPATH,"/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[6]/span")

for i in sname_tag:
    S_name.append(i.text)
for i in aname_tag:
    A_name.append(i.text)
for i in lw_rank_tag:
    Lw_rank.append(i.text)
for i in p_rank_tag:
    P_rank.append(i.text)
for i in W_board_tag:
    W_board.append(i.text)

In [175]:
print(len(S_name),len(A_name),len(Lw_rank),len(P_rank),len(W_board))

100 100 100 100 100

In [176]:
df5=pd.DataFrame({'Song name':S_name,'Artist name':A_name,'Last week rank':Lw_rank,'Peak rank':P_rank,'Weeks on board':W_board})
df5.index+=1
df5

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
1,Last Night,Morgan Wallen,1,1,21
2,Fast Car,Luke Combs,3,2,13
3,Calm Down,Rema & Selena Gomez,4,3,42
4,Flowers,Miley Cyrus,2,1,23
5,All My Life,Lil Durk Featuring J. Cole,5,2,6
...,...,...,...,...,...
96,"Angel, Pt. 1","Kodak Black, NLE Choppa, Jimin, JVKE & Muni Long",-,65,2
97,Girl In Mine,Parmalee,-,97,1
98,Moonlight,Kali Uchis,90,80,11
99,Classy 101,Feid x Young Miko,-,99,1
100,Bluffin,Gucci Mane & Lil Baby,-,100,1

### 6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [4]:
driver=webdriver.Chrome(r"C:\Users\JPGD\Documents\ANDREA GOMEZ\FLIP ROBO TECHNOLOGIES INTERNSHIP\chromedriver_win32 2\chromedriver.exe")

# Opening the page on automated chrome browser
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [6]:
# Create empty lists
B_name=[]
A_name=[]
V_sold=[]
Publisher=[]
Genre=[]


# Scraping data
B_name_tag=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]')
A_name_tag=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]')
V_sold_tag=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]')
Publisher_tag=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]')
Genre_tag=driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]')

for i in B_name_tag:
    B_name.append(i.text)
for i in A_name_tag:
    A_name.append(i.text)
for i in V_sold_tag:
    V_sold.append(i.text)
for i in Publisher_tag:
    Publisher.append(i.text)
for i in Genre_tag:
    Genre.append(i.text)

In [7]:
print(len(B_name),len(A_name),len(V_sold),len(Publisher),len(Genre))

100 100 100 100 100

In [8]:
df6=pd.DataFrame({'Book name':B_name,'Author name':A_name,'Volumes sold':V_sold,'Publisher':Publisher,'Genre':Genre})
df6.index+=1
df6

,Book name,Author name,Volumes sold,Publisher,Genre
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [9]:
driver=webdriver.Chrome(r"C:\Users\JPGD\Documents\ANDREA GOMEZ\FLIP ROBO TECHNOLOGIES INTERNSHIP\chromedriver_win32 2\chromedriver.exe")

# Opening the page on automated chrome browser
driver.get("https://www.imdb.com/list/ls095964455/")

In [10]:
# Create empty lists
Name=[]
Y_span=[]
M_Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

# Scraping data

Name_tag=driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/a")
Y_span_tag=driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/span[2]")
M_Genre_tag=driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[5]")
Run_time_tag=driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[3]")
Ratings_tag=driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]")
Votes_tag=driver.find_elements(By.XPATH,"/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[4]/span[2]")

for i in Name_tag:
    Name.append(i.text)
for i in Y_span_tag:
    Y_span.append(i.text)
for i in M_Genre_tag:
    M_Genre.append(i.text)
for i in Run_time_tag:
    Run_time.append(i.text)
for i in Ratings_tag:
    Ratings.append(i.text)
for i in Votes_tag:
    Votes.append(i.text)

In [11]:
print(len(Name),len(Y_span),len(M_Genre),len(Run_time),len(Ratings),len(Votes))

100 100 100 100 100 100

In [12]:
df8=pd.DataFrame({'Name':Name,'Year span':Y_span,'Genre':M_Genre,'Run time':Run_time,'Ratings':Ratings,'Votes':Votes})
df8.index+=1
df8

,Name,Year span,Genre,Run time,Ratings,Votes
1,Juego de tronos,(2011–2019),"Action, Adventure, Drama",57 min,"9,2",2.173.922
2,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,"8,7",1.251.752
3,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,"8,1",1.032.594
4,Por trece razones,(2017–2020),"Drama, Mystery, Thriller",60 min,"7,5",303.589
5,Los 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,"7,6",262.758
...,...,...,...,...,...,...
96,Reign,(2013–2017),Drama,42 min,"7,4",51.965
97,Una serie de catastróficas desdichas,(2017–2019),"Adventure, Comedy, Drama",50 min,"7,8",63.999
98,Mentes criminales,(2005– ),"Crime, Drama, Mystery",42 min,"8,1",208.556
99,Scream,(2015–2019),"Comedy, Crime, Drama",45 min,"7,1",43.405
100,La maldición de Hill House,(2018),"Drama, Horror, Mystery",572 min,"8,6",260.250

### 8. Details of Datasetsfrom UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [19]:
driver=webdriver.Chrome(r"C:\Users\JPGD\Documents\ANDREA GOMEZ\FLIP ROBO TECHNOLOGIES INTERNSHIP\chromedriver_win32 2\chromedriver.exe")

# Opening the page on automated chrome browser
driver.get("https://archive.ics.uci.edu/")
time.sleep(3)

In [20]:
# Close popup window
closew=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/div/div[2]/button")
closew.click()

In [21]:
# Click the search button

search_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
search_button.click()

In [23]:
# Click "Expand All" button

try:
    search_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]')
    search_button.click()
except NoSuchElementException as e:
    print("Exception raised : ",e)
    search_button=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]')
    search_button.click()

In [24]:
# Create empty lists

Dataset_name=[]
Data_type=[]
Task=[]
Attribute_type=[]
No_instances=[]
No_attributes=[]
Year=[]

# Scraping data

Dataset_name_tag=driver.find_elements(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/h2/a")
Data_type_tag=driver.find_elements(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[2]/span")
Task_tag=driver.find_elements(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[1]/span")
Attribute_type_tag=driver.find_elements(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]")
No_instances_tag=driver.find_elements(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div/div[2]/div/div[3]/span")
No_attributes_tag=driver.find_elements(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div/div[2]/div/div[4]")
Year_tag=driver.find_elements(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]")

start=0
end=62

for page in range(start,end):
    for i in Dataset_name_tag:
        Dataset_name.append(i.text)  
    for i in Data_type_tag:
        Data_type.append(i.text)
    for i in Task_tag:
        Task.append(i.text)
    for i in Attribute_type_tag:
        Attribute_type.append(i.text)
    for i in No_instances_tag:
        No_instances.append(i.text)
    for i in No_attributes_tag:
        No_attributes.append(i.text)
    for i in Year_tag:
        Year.append(i.text)
    next_button=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]")
    next_button.click()
    time.sleep(3)

In [25]:
print(len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(No_instances),len(No_attributes),len(Year))

620 620 620 620 620 620 620

In [26]:
a=[]
for i in Year:
    b=i.replace("N/A","N/A/NA")
    a.append(b.split("/"))
#print(a)

In [27]:
year=[x[2] for x in a]

In [28]:
df8=pd.DataFrame({'Dataset name':Dataset_name,'Data type':Data_type,'Task':Task,'Attribute type':Attribute_type,
                  'No of instances':No_instances,'No of attributes':No_attributes,'Year':year})
df8.index+=1
df8

,Dataset name,Data type,Task,Attribute type,No of instances,No of attributes,Year
1,Iris,Multivariate,Classification,Real,150 Instances,4 Attributes,1988
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Attributes,1988
3,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Attributes,1996
4,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,17 Attributes,2020
5,Diabetes,,,"Categorical, Integer",,20 Attributes,NA
...,...,...,...,...,...,...,...
616,Opinosis Opinion &frasl; Review,,,,51 Instances,,2010
617,Sattriya_Dance_Single_Hand_Gestures Dataset,Multivariate,Classification,N/A,1.45K Instances,,2019
618,Undocumented,,,N/A,,,NA
619,PMU-UD,Univariate,Classification,,5.18K Instances,9 Attributes,2018
620,chestnut â€“ LARVIC,null,"Classification, Clustering",,1.45K Instances,3 Attributes,2017