In [1]:
# Import libraries

import pandas as pd
import os
import glob
pd.set_option('display.max_rows',None)

In [6]:
# Set path to read files
path=r"C:\Users\JPGD\Documents\ANDREA GOMEZ\FLIP ROBO TECHNOLOGIES INTERNSHIP\Projects\Capstone Project\India_Crime\DataPlatform"
all_files=glob.glob(path+"/*.csv")

In [7]:
# Read all csv files
all_files

['C:\\Users\\JPGD\\Documents\\ANDREA GOMEZ\\FLIP ROBO TECHNOLOGIES INTERNSHIP\\Projects\\Capstone Project\\India_Crime\\DataPlatform\\01_District_wise_crimes_committed_IPC_2001_2012.csv',
 'C:\\Users\\JPGD\\Documents\\ANDREA GOMEZ\\FLIP ROBO TECHNOLOGIES INTERNSHIP\\Projects\\Capstone Project\\India_Crime\\DataPlatform\\02_01_District_wise_crimes_committed_against_SC_2001_2012.csv',
 'C:\\Users\\JPGD\\Documents\\ANDREA GOMEZ\\FLIP ROBO TECHNOLOGIES INTERNSHIP\\Projects\\Capstone Project\\India_Crime\\DataPlatform\\02_District_wise_crimes_committed_against_ST_2001_2012.csv',
 'C:\\Users\\JPGD\\Documents\\ANDREA GOMEZ\\FLIP ROBO TECHNOLOGIES INTERNSHIP\\Projects\\Capstone Project\\India_Crime\\DataPlatform\\03_District_wise_crimes_committed_against_children_2001_2012.csv',
 'C:\\Users\\JPGD\\Documents\\ANDREA GOMEZ\\FLIP ROBO TECHNOLOGIES INTERNSHIP\\Projects\\Capstone Project\\India_Crime\\DataPlatform\\08_01_Juvenile_apprehended_state_IPC_2001_2010.csv',
 'C:\\Users\\JPGD\\Documents\\ANDREA GOMEZ\\FLIP ROBO TECHNOLOGIES INTERNSHIP\\Projects\\Capstone Project\\India_Crime\\DataPlatform\\11_Property_stolen_and_recovered_nature_of_property_2001_2010.csv',
 'C:\\Users\\JPGD\\Documents\\ANDREA GOMEZ\\FLIP ROBO TECHNOLOGIES INTERNSHIP\\Projects\\Capstone Project\\India_Crime\\DataPlatform\\13_Police_killed_or_injured_on_duty2001_2010.csv',
 'C:\\Users\\JPGD\\Documents\\ANDREA GOMEZ\\FLIP ROBO TECHNOLOGIES INTERNSHIP\\Projects\\Capstone Project\\India_Crime\\DataPlatform\\17_Case_reported_and_value_of_property_taken_away_by_place_of_occurrence_2001_2012.csv',
 'C:\\Users\\JPGD\\Documents\\ANDREA GOMEZ\\FLIP ROBO TECHNOLOGIES INTERNSHIP\\Projects\\Capstone Project\\India_Crime\\DataPlatform\\17_Crime_by_place_of_occurrence_2001_2012.csv',
 'C:\\Users\\JPGD\\Documents\\ANDREA GOMEZ\\FLIP ROBO TECHNOLOGIES INTERNSHIP\\Projects\\Capstone Project\\India_Crime\\DataPlatform\\35_Human_rights_violation_by_police_2001_2010.csv',
 'C:\\Users\\JPGD\\Documents\\ANDREA GOMEZ\\FLIP ROBO TECHNOLOGIES INTERNSHIP\\Projects\\Capstone Project\\India_Crime\\DataPlatform\\42_District_wise_crimes_committed_against_women_2001_2012.csv']

In [8]:
# Combine the files
listA=[pd.read_csv(filename,index_col=None, header=0) for filename in all_files]

In [9]:
# Checking how many files will be processed
len(listA)

11

The dataset comprises 11 files.

In [10]:
# Cleaning Headers and checking the dimensions of each file.

count=0
for i in listA:
    count+=1
    i.columns=i.columns.str.upper()
    i.dropna()
    print(count,i.columns)
    print("File",count,"Dimensions:",i.shape)

1 Index(['STATE/UT', 'DISTRICT', 'YEAR', 'MURDER', 'ATTEMPT TO MURDER',
       'CULPABLE HOMICIDE NOT AMOUNTING TO MURDER', 'RAPE', 'CUSTODIAL RAPE',
       'OTHER RAPE', 'KIDNAPPING & ABDUCTION',
       'KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS',
       'KIDNAPPING AND ABDUCTION OF OTHERS', 'DACOITY',
       'PREPARATION AND ASSEMBLY FOR DACOITY', 'ROBBERY', 'BURGLARY', 'THEFT',
       'AUTO THEFT', 'OTHER THEFT', 'RIOTS', 'CRIMINAL BREACH OF TRUST',
       'CHEATING', 'COUNTERFIETING', 'ARSON', 'HURT/GREVIOUS HURT',
       'DOWRY DEATHS', 'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'INSULT TO MODESTY OF WOMEN', 'CRUELTY BY HUSBAND OR HIS RELATIVES',
       'IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES',
       'CAUSING DEATH BY NEGLIGENCE', 'OTHER IPC CRIMES', 'TOTAL IPC CRIMES'],
      dtype='object')
File 1 Dimensions: (9017, 33)
2 Index(['STATE/UT', 'DISTRICT', 'YEAR', 'MURDER', 'RAPE',
       'KIDNAPPING AND ABDUCTION', 'DACOITY', 'ROBBERY', 'ARSON', 'HURT',
       'PREVENTION OF ATROCITIES (POA) ACT',
       'PROTECTION OF CIVIL RIGHTS (PCR) ACT', 'OTHER CRIMES AGAINST SCS'],
      dtype='object')
File 2 Dimensions: (9018, 13)
3 Index(['STATE/UT', 'DISTRICT', 'YEAR', 'MURDER', 'RAPE',
       'KIDNAPPING ABDUCTION', 'DACOITY', 'ROBBERY', 'ARSON', 'HURT',
       'PROTECTION OF CIVIL RIGHTS (PCR) ACT',
       'PREVENTION OF ATROCITIES (POA) ACT', 'OTHER CRIMES AGAINST STS'],
      dtype='object')
File 3 Dimensions: (9018, 13)
4 Index(['STATE/UT', 'DISTRICT', 'YEAR', 'MURDER', 'RAPE',
       'KIDNAPPING AND ABDUCTION', 'FOETICIDE', 'ABETMENT OF SUICIDE',
       'EXPOSURE AND ABANDONMENT', 'PROCURATION OF MINOR GIRLS',
       'BUYING OF GIRLS FOR PROSTITUTION', 'SELLING OF GIRLS FOR PROSTITUTION',
       'PROHIBITION OF CHILD MARRIAGE ACT', 'OTHER CRIMES', 'TOTAL'],
      dtype='object')
File 4 Dimensions: (9015, 15)
5 Index(['STATE/UT', 'YEAR', 'CRIME', 'BOYS 7-12 YEARS', 'GIRLS 7-12 YEARS',
       'BOYS 12-16 YEARS', 'GIRLS 12-16 YEARS', 'BOYS 16-18 YEARS',
       'GIRLS 16-18 YEARS', 'TOTAL FOR BOYS ALL AGE GROUPS',
       'TOTAL FOR GIRLS ALL AGE GROUPS', 'GRAND TOTAL'],
      dtype='object')
File 5 Dimensions: (10500, 12)
6 Index(['AREA_NAME', 'YEAR', 'GROUP_NAME', 'SUB_GROUP_NAME',
       'CASES_PROPERTY_RECOVERED', 'CASES_PROPERTY_STOLEN',
       'VALUE_OF_PROPERTY_RECOVERED', 'VALUE_OF_PROPERTY_STOLEN'],
      dtype='object')
File 6 Dimensions: (4550, 8)
7 Index(['AREA_NAME', 'YEAR', 'GROUP_NAME', 'SUB_GROUP_NAME',
       'POLICE_INJURED_BY_CRIMINALS', 'POLICE_INJURED_BY_RIOTOUS_MOBS',
       'POLICE_INJURED_IN_ACCIDENTS',
       'POLICE_INJURED_IN_DACOITY_OPERATIONSOTHER_RAIDS',
       'POLICE_INJURED_IN_TERRORISTSEXTREMISTS_OPERATIONS',
       'POLICE_INJURED_ON_BORDER_DUTIES', 'POLICE_INJURED_TOTAL_POLICEMEN',
       'POLICE_KILLED_BY_CRIMINALS', 'POLICE_KILLED_BY_RIOTOUS_MOBS',
       'POLICE_KILLED_IN_ACCIDENTS',
       'POLICE_KILLED_IN_DACOITY_OPERATIONSOTHER_RAIDS',
       'POLICE_KILLED_IN_TERRORISTSEXTREMISTS_OPERATIONS',
       'POLICE_KILLED_ON_BORDER_DUTIES', 'POLICE_KILLED_TOTAL_POLICEMEN'],
      dtype='object')
File 7 Dimensions: (2450, 18)
8 Index(['STATE/UT', 'YEAR', 'PLACE OF OCCURRENCE',
       'DACOITY (SECTION 395-398 IPC) - NUMBER OF CASES REGISTERED',
       'DACOITY (SECTION 395-398 IPC) - VALUE OF PROPERTY STOLEN (IN RUPEES)',
       'ROBBERY(SECTION 392-394, 397, 398 IPC) - NUMBER OF CASES REGISTERED',
       'ROBBERY(SECTION 392-394, 397, 398 IPC) - VALUE OF PROPERTY STOLEN (IN RUPEES)',
       'BURGLARY(SECTION 449-452, 454, 455, 457-460 IPC) - NUMBER OF CASES REGISTERED',
       'BURGLARY(SECTION 449-452, 454, 455, 457-460 IPC) - VALUE OF PROPERTY STOLEN (IN RUPEES)',
       'THEFT (SECTION 379-382 IPC) - NUMBER OF CASES REGISTERED',
       'THEFT (SECTION 379-382 IPC) - VALUE OF PROPERTY STOLEN (IN RUPEES)'],
      dtype='object')
File 8 Dimensions: (4344, 11)
9 Index(['STATE/UT', 'YEAR', 'RESIDENTIAL PREMISES - DACOITY',
       'RESIDENTIAL PREMISES - ROBBERY', 'RESIDENTIAL PREMISES - BURGLARY',
       'RESIDENTIAL PREMISES - THEFT', 'HIGHWAYS - DACOITY',
       'HIGHWAYS - ROBBERY', 'HIGHWAYS - BURGLARY', 'HIGHWAYS - THEFT',
       'RIVER AND SEA - DACOITY', 'RIVER AND SEA - ROBBERY',
       'RIVER AND SEA - BURGLARY', 'RIVER AND SEA - THEFT',
       'RAILWAYS - DACOITY', 'RAILWAYS - ROBBERY', 'RAILWAYS - BURGLARY',
       'RAILWAYS - THEFT', 'BANKS - DACOITY', 'BANKS - ROBBERY',
       'BANKS - BURGLARY', 'BANKS - THEFT',
       'COMMERCIAL ESTABLISHMENTS - DACOITY',
       'COMMERCIAL ESTABLISHMENTS - ROBBERY',
       'COMMERCIAL ESTABLISHMENTS - BURGLARY',
       'COMMERCIAL ESTABLISHMENTS - THEFT', 'OTHER PLACES - DACOITY',
       'OTHER PLACES - ROBBERY', 'OTHER PLACES - BURGLARY',
       'OTHER PLACES - THEFT', 'TOTAL - DACOITY', 'TOTAL - ROBBERY',
       'TOTAL - BURGLARY', 'TOTAL - THEFT'],
      dtype='object')
File 9 Dimensions: (456, 34)
10 Index(['AREA_NAME', 'YEAR', 'GROUP_NAME', 'SUB_GROUP_NAME',
       'CASES_REGISTERED_UNDER_HUMAN_RIGHTS_VIOLATIONS',
       'POLICEMEN_CHARGESHEETED', 'POLICEMEN_CONVICTED'],
      dtype='object')
File 10 Dimensions: (2267, 7)
11 Index(['STATE/UT', 'DISTRICT', 'YEAR', 'RAPE', 'KIDNAPPING AND ABDUCTION',
       'DOWRY DEATHS', 'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'INSULT TO MODESTY OF WOMEN', 'CRUELTY BY HUSBAND OR HIS RELATIVES',
       'IMPORTATION OF GIRLS'],
      dtype='object')
File 11 Dimensions: (9017, 10)

In [11]:
# Check which files have states as a common feature
count=0
c=[]
for i in listA:
    count+=1
    if any(i.columns=="STATE/UT"):
        #print(count,i.columns)
        c.append(count)
print("Files",c,"have 'STATE/UT' as a common feature.")

Files [1, 2, 3, 4, 5, 8, 9, 11] have 'STATE/UT' as a common feature.

Files 1, 2, 3, 4, 5, 8, 9, 11 have 'STATE/UT' as a common feature. While files 6,7 and 10 have AREA NAME as a common feature. Since 'STATE/UT' and 'AREA NAME' have similar values, I will rename the latter to use only 'STATE/UT'.

In [12]:
# Check which tables have State as a common feature
count=0
c=[]
for i in listA:
    count+=1
    if any(i.columns=="YEAR"):
        #print(count,i.columns)
        c.append(count)
print("Files",c,"have 'YEAR' as a common feature.")

Files [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11] have 'YEAR' as a common feature.

All files have Year as a common feature.

### Select features per file and standardize the format

In [13]:
# File 0
# Keep the most relevant data per file to avoid redundancy
toDropL0=['ATTEMPT TO MURDER','CULPABLE HOMICIDE NOT AMOUNTING TO MURDER', 'CUSTODIAL RAPE',
       'OTHER RAPE','KIDNAPPING AND ABDUCTION OF WOMEN AND GIRLS','KIDNAPPING AND ABDUCTION OF OTHERS',
       'PREPARATION AND ASSEMBLY FOR DACOITY','AUTO THEFT', 'OTHER THEFT', 'CRIMINAL BREACH OF TRUST', 'COUNTERFIETING', 
       'HURT/GREVIOUS HURT']
listA[0].drop(toDropL0,axis=1,inplace=True)

# Rename columns to standardize fetaure names
F0=listA[0].rename(columns={'KIDNAPPING & ABDUCTION':'KIDNAPPING AND ABDUCTION','CRUELTY BY HUSBAND OR HIS RELATIVES':'CRUELTY BY HUSBAND OR RELATIVES',
                         'IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES':'IMPORTATION OF GIRLS','OTHER IPC CRIMES':'OTHERS'})

In [14]:
# File 1
# Drop unnecesary / ambiguous features
toDropL1=['PREVENTION OF ATROCITIES (POA) ACT','PROTECTION OF CIVIL RIGHTS (PCR) ACT']
listA[1].drop(toDropL1,axis=1,inplace=True)
F1=listA[1].rename(columns={'OTHER CRIMES AGAINST SCS':'OTHERS'})

In [15]:
# File 2
# Drop unnecesary / ambiguous features
toDropL2=['PREVENTION OF ATROCITIES (POA) ACT','PROTECTION OF CIVIL RIGHTS (PCR) ACT']
listA[2].drop(toDropL2,axis=1,inplace=True)
F2=listA[2].rename(columns={'KIDNAPPING ABDUCTION':'KIDNAPPING AND ABDUCTION','OTHER CRIMES AGAINST STS':'OTHERS'})

In [16]:
# File 3
# Drop unnecesary / ambiguous features
toDropL3=['PROHIBITION OF CHILD MARRIAGE ACT']
listA[3].drop(toDropL3,axis=1,inplace=True)

F3=listA[3].rename(columns={'OTHER CRIMES':'OTHERS'})

# Drop missing Data

F3=F3.dropna()

In [17]:
# Checking missing data in new DataFrame F3.
F3.isnull().sum()

STATE/UT                             0
DISTRICT                             0
YEAR                                 0
MURDER                               0
RAPE                                 0
KIDNAPPING AND ABDUCTION             0
FOETICIDE                            0
ABETMENT OF SUICIDE                  0
EXPOSURE AND ABANDONMENT             0
PROCURATION OF MINOR GIRLS           0
BUYING OF GIRLS FOR PROSTITUTION     0
SELLING OF GIRLS FOR PROSTITUTION    0
OTHERS                               0
TOTAL                                0
dtype: int64

There are no more missing data.

In [18]:
# File 4 (Has a different layout)
#obj=[i for i in listA[4].columns if (listA[4][i].dtypes=='object')]
# Convert case

for i in listA[4].columns:
    if listA[4][i].dtypes=='object':
        listA[4][i]=listA[4][i].str.upper()

# Check unique crimes registered
listA[4].CRIME.unique()

array(['MURDER', 'ATTEMPT TO COMMIT MURDER',
       'C H NOT AMOUNTING TO MURDER', 'RAPE', 'CUSTODIAL RAPE',
       'OTHER RAPE', 'KIDNAPPING & ABDUCTION', 'K & A OF WOMEN AND GIRLS',
       'K & A OF OTHERS', 'DACOITY', 'PREPARATION & ASSEMBLY FOR DACOITY',
       'ROBBERY', 'BURGLARY', 'THEFT', 'AUTO THEFT', 'OTHER THEFT',
       'RIOTS', 'CRIMINAL BREACH OF TRUST', 'CHEATING', 'COUNTERFEITING',
       'ARSON', 'HURT/GREVIOUS HURT', 'DOWRY DEATHS',
       'ASSAULT ON WOMEN WIH INTENT TO OUTRAGE H',
       'INSULT TO MODESTY OF WOMEN', 'CRUELTY BY HUSBAND OR RELATIVES',
       'IMPORTATION OF GIRLS FROM FOREIGN COUNTR',
       'CAUSING DEATH BY NEGLIGENCE', 'OTHER IPC CRIMES',
       'TOTAL IPC CRIMES'], dtype=object)

In [19]:
# Drop unnecessary / redundant observations
Todrop4=('ATTEMPT TO COMMIT MURDER',
       'C H NOT AMOUNTING TO MURDER','CUSTODIAL RAPE',
       'OTHER RAPE','K & A OF WOMEN AND GIRLS',
       'K & A OF OTHERS','PREPARATION & ASSEMBLY FOR DACOITY','AUTO THEFT', 'OTHER THEFT',
          'CRIMINAL BREACH OF TRUST')
#TD4=listA[4].loc[listA[4]==toDropL4]

#listA[4].drop(toDropL3,axis=1,inplace=True)
#listA[4].rename(columns={'OTHER CRIMES':'OTHERS'})

In [20]:
# Rename columns to standardize fetaure names
F4=listA[4].replace({'HURT/GREVIOUS HURT':'HURT','Rape':'RAPE','Kidnapping & Abduction':'KIDNAPPING AND ABDUCTION',
                 'ASSAULT ON WOMEN WIH INTENT TO OUTRAGE H':'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
                'IMPORTATION OF GIRLS FROM FOREIGN COUNTR':'IMPORTATION OF GIRLS'})

In [21]:
# Rename columns to standardize fetaure names
F4=listA[4].replace(['HURT/GREVIOUS HURT','RAPE','KIDNAPPING & ABDUCTION','ASSAULT ON WOMEN WIH INTENT TO OUTRAGE H','IMPORTATION OF GIRLS FROM FOREIGN COUNTR',
                     'OTHER IPC CRIMES'],
                    ['HURT','RAPE','KIDNAPPING AND ABDUCTION','ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY','IMPORTATION OF GIRLS','OTHERS'])

In [22]:
F4['CRIME'].unique()

array(['MURDER', 'ATTEMPT TO COMMIT MURDER',
       'C H NOT AMOUNTING TO MURDER', 'RAPE', 'CUSTODIAL RAPE',
       'OTHER RAPE', 'KIDNAPPING AND ABDUCTION',
       'K & A OF WOMEN AND GIRLS', 'K & A OF OTHERS', 'DACOITY',
       'PREPARATION & ASSEMBLY FOR DACOITY', 'ROBBERY', 'BURGLARY',
       'THEFT', 'AUTO THEFT', 'OTHER THEFT', 'RIOTS',
       'CRIMINAL BREACH OF TRUST', 'CHEATING', 'COUNTERFEITING', 'ARSON',
       'HURT', 'DOWRY DEATHS',
       'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'INSULT TO MODESTY OF WOMEN', 'CRUELTY BY HUSBAND OR RELATIVES',
       'IMPORTATION OF GIRLS', 'CAUSING DEATH BY NEGLIGENCE', 'OTHERS',
       'TOTAL IPC CRIMES'], dtype=object)

In [23]:
# File 5
listA[5].columns

# Convert case

for i in listA[5].columns:
    if listA[5][i].dtypes=='object':
        listA[5][i]=listA[5][i].str.upper()

# Rename AREA_NAME to STATE/UT and convert all object values to Upper case

F5=listA[5].rename(columns={'AREA_NAME':'STATE/UT'})

In [24]:
# File 6

listA[6].columns

# Convert case

for i in listA[6].columns:
    if listA[6][i].dtypes=='object':
        listA[6][i]=listA[6][i].str.upper()

# Rename AREA_NAME to STATE/UT and convert all object values to Upper case

F6=listA[6].rename(columns={'AREA_NAME':'STATE/UT'})

In [25]:
listA[7].head()

# Rename columns to standardize fetaure names

F7=listA[7].rename(columns={'DACOITY (SECTION 395-398 IPC) - NUMBER OF CASES REGISTERED':'DACOITY - NUMBER OF CASES REGISTERED',
                       'DACOITY (SECTION 395-398 IPC) - VALUE OF PROPERTY STOLEN (IN RUPEES)':'DACOITY - VALUE OF PROPERTY STOLEN (IN RUPEES)',
                      'ROBBERY(SECTION 392-394, 397, 398 IPC) - NUMBER OF CASES REGISTERED':'ROBBERY - NUMBER OF CASES REGISTERED',
                      'ROBBERY(SECTION 392-394, 397, 398 IPC) - VALUE OF PROPERTY STOLEN (IN RUPEES)':'ROBBERY - VALUE OF PROPERTY STOLEN (IN RUPEES)',
                      'BURGLARY(SECTION 449-452, 454, 455, 457-460 IPC) - NUMBER OF CASES REGISTERED':'BURGLARY - NUMBER OF CASES REGISTERED',
                       'BURGLARY(SECTION 449-452, 454, 455, 457-460 IPC) - VALUE OF PROPERTY STOLEN (IN RUPEES)':'BURGLARY - VALUE OF PROPERTY STOLEN (IN RUPEES)',
                       'THEFT (SECTION 379-382 IPC) - NUMBER OF CASES REGISTERED':'THEFT - NUMBER OF CASES REGISTERED',
                       'THEFT (SECTION 379-382 IPC) - VALUE OF PROPERTY STOLEN (IN RUPEES)':'THEFT - VALUE OF PROPERTY STOLEN (IN RUPEES)'})

In [26]:
# List 8 - Place and crime
listA[8].columns

# Drop redundant features
#toDropL8=['TOTAL - DACOITY', 'TOTAL - ROBBERY',
       #'TOTAL - BURGLARY', 'TOTAL - THEFT']

#listA[8].drop(toDropL8,axis=1,inplace=True)
F8=listA[8]

In [27]:
#F8=listA[8]

In [28]:
# List 9

# Convert case

for i in listA[9].columns:
    if listA[9][i].dtypes=='object':
        listA[9][i]=listA[9][i].str.upper()

# Rename AREA_NAME to STATE/UT and convert all object values to Upper case

F9=listA[9].rename(columns={'AREA_NAME':'STATE/UT'})

# Drop missing data

F9=F9.dropna()

In [29]:
# Check file dimensions

listA[9].shape

(2267, 7)

In [30]:
# Checking value counts per categorical feature 
for i in listA[9].columns:
    print(listA[9][i].value_counts())
    print("\n")

WEST BENGAL          120
CHHATTISGARH         120
ANDHRA PRADESH       120
GUJARAT              120
HIMACHAL PRADESH     120
NAGALAND             120
KARNATAKA            120
ODISHA               120
MEGHALAYA            120
JAMMU & KASHMIR      112
MAHARASHTRA          111
ARUNACHAL PRADESH    108
ASSAM                100
BIHAR                 96
HARYANA               87
MANIPUR               84
CHANDIGARH            74
MADHYA PRADESH        68
MIZORAM               60
TAMIL NADU            57
UTTAR PRADESH         55
PUNJAB                52
JHARKHAND             36
DAMAN & DIU           24
KERALA                22
TRIPURA               12
RAJASTHAN             10
DELHI                  9
GOA                    6
UTTARAKHAND            2
PUDUCHERRY             2
Name: AREA_NAME, dtype: int64


2007    262
2005    257
2006    237
2002    229
2001    228
2003    228
2009    220
2008    212
2004    209
2010    185
Name: YEAR, dtype: int64


HR_TOTAL VIOLATIONS BY POLICE                 214
HR_OTHERS VIOLATIONS BY POLICE                194
HR_DISAPPEARANCE OF PERSONS                   190
HR_EXTORTION                                  190
HR_TORTURE                                    190
HR_ATROCITIES ON SC/ST                        188
HR_ILLEGAL DETENTION/ARRESTS                  186
HR_FAKE ENCOUNTER KILLINGS                    185
HR_INDIGNITY TO WOMEN                         185
HR_VIOLATION AGAINST TERRORISTS/EXTREMISTS    182
HR_FALSE IMPLICATION                          182
HR_FAILURE IN TAKING ACTION                   181
Name: GROUP_NAME, dtype: int64


12. TOTAL (SUM OF 1-11 ABOVE)                  214
11. OTHERS                                     194
05. EXTORTION                                  190
01. DISAPPEARANCE OF PERSONS                   190
06. TORTURE                                    190
10. ATROCITIES ON SC/ST                        188
02. ILLEGAL DETENTION/ARRESTS                  186
03. FAKE ENCOUNTER KILLINGS                    185
09. INDIGNITY TO WOMEN                         185
04. VIOLATION AGAINST TERRORISTS/EXTREMISTS    182
07. FALSE IMPLICATION                          182
08. FAILURE IN TAKING ACTION                   181
Name: SUB_GROUP_NAME, dtype: int64


0.0      1946
1.0       139
2.0        37
3.0        36
5.0        16
4.0        14
6.0        12
7.0         8
9.0         8
10.0        5
11.0        5
15.0        4
8.0         4
14.0        3
12.0        3
22.0        3
96.0        2
20.0        2
13.0        2
21.0        1
33.0        1
25.0        1
233.0       1
65.0        1
26.0        1
53.0        1
18.0        1
67.0        1
38.0        1
16.0        1
35.0        1
19.0        1
51.0        1
45.0        1
29.0        1
Name: CASES_REGISTERED_UNDER_HUMAN_RIGHTS_VIOLATIONS, dtype: int64


0.0     2035
1.0       60
2.0       28
3.0       18
5.0       14
4.0       14
6.0       10
7.0        7
12.0       4
9.0        4
10.0       4
8.0        4
14.0       2
67.0       1
13.0       1
20.0       1
11.0       1
29.0       1
22.0       1
53.0       1
51.0       1
17.0       1
Name: POLICEMEN_CHARGESHEETED, dtype: int64


0.0     2141
4.0        7
1.0        5
2.0        3
3.0        2
7.0        2
43.0       1
8.0        1
54.0       1
Name: POLICEMEN_CONVICTED, dtype: int64

### Insights about dataset

Most of numeric data are 0. This limits the relevance of this dataset.
- 85.84% of CASES_REGISTERED_UNDER_HUMAN_RIGHTS_VIOLATIONS are 0.
- 89.77% of POLICEMEN_CHARGESHEETED values are 0.
- 94.44% POLICEMEN_CONVICTED values are 0.

In [31]:
# File 10
listA[10].head()
listA[10].columns

# Rename columns to a standard format

F10=listA[10].rename(columns={'CRUELTY BY HUSBAND OR HIS RELATIVES':'CRUELTY BY HUSBAND OR RELATIVES'})

In [32]:
# Difference between files 5 and 6.
# diff0_1=list(set(listA[0]).difference(listA[1]))
# diff0_1

In [33]:
FileStd=[F0,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10]

In [34]:
# Check columns per file after cleaning
count=0
for i in FileStd:
    count+=1
    print(count,i.columns)
    print("File",count,"Dimensions:",i.shape)

1 Index(['STATE/UT', 'DISTRICT', 'YEAR', 'MURDER', 'RAPE',
       'KIDNAPPING AND ABDUCTION', 'DACOITY', 'ROBBERY', 'BURGLARY', 'THEFT',
       'RIOTS', 'CHEATING', 'ARSON', 'DOWRY DEATHS',
       'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'INSULT TO MODESTY OF WOMEN', 'CRUELTY BY HUSBAND OR RELATIVES',
       'IMPORTATION OF GIRLS', 'CAUSING DEATH BY NEGLIGENCE', 'OTHERS',
       'TOTAL IPC CRIMES'],
      dtype='object')
File 1 Dimensions: (9017, 21)
2 Index(['STATE/UT', 'DISTRICT', 'YEAR', 'MURDER', 'RAPE',
       'KIDNAPPING AND ABDUCTION', 'DACOITY', 'ROBBERY', 'ARSON', 'HURT',
       'OTHERS'],
      dtype='object')
File 2 Dimensions: (9018, 11)
3 Index(['STATE/UT', 'DISTRICT', 'YEAR', 'MURDER', 'RAPE',
       'KIDNAPPING AND ABDUCTION', 'DACOITY', 'ROBBERY', 'ARSON', 'HURT',
       'OTHERS'],
      dtype='object')
File 3 Dimensions: (9018, 11)
4 Index(['STATE/UT', 'DISTRICT', 'YEAR', 'MURDER', 'RAPE',
       'KIDNAPPING AND ABDUCTION', 'FOETICIDE', 'ABETMENT OF SUICIDE',
       'EXPOSURE AND ABANDONMENT', 'PROCURATION OF MINOR GIRLS',
       'BUYING OF GIRLS FOR PROSTITUTION', 'SELLING OF GIRLS FOR PROSTITUTION',
       'OTHERS', 'TOTAL'],
      dtype='object')
File 4 Dimensions: (9004, 14)
5 Index(['STATE/UT', 'YEAR', 'CRIME', 'BOYS 7-12 YEARS', 'GIRLS 7-12 YEARS',
       'BOYS 12-16 YEARS', 'GIRLS 12-16 YEARS', 'BOYS 16-18 YEARS',
       'GIRLS 16-18 YEARS', 'TOTAL FOR BOYS ALL AGE GROUPS',
       'TOTAL FOR GIRLS ALL AGE GROUPS', 'GRAND TOTAL'],
      dtype='object')
File 5 Dimensions: (10500, 12)
6 Index(['STATE/UT', 'YEAR', 'GROUP_NAME', 'SUB_GROUP_NAME',
       'CASES_PROPERTY_RECOVERED', 'CASES_PROPERTY_STOLEN',
       'VALUE_OF_PROPERTY_RECOVERED', 'VALUE_OF_PROPERTY_STOLEN'],
      dtype='object')
File 6 Dimensions: (4550, 8)
7 Index(['STATE/UT', 'YEAR', 'GROUP_NAME', 'SUB_GROUP_NAME',
       'POLICE_INJURED_BY_CRIMINALS', 'POLICE_INJURED_BY_RIOTOUS_MOBS',
       'POLICE_INJURED_IN_ACCIDENTS',
       'POLICE_INJURED_IN_DACOITY_OPERATIONSOTHER_RAIDS',
       'POLICE_INJURED_IN_TERRORISTSEXTREMISTS_OPERATIONS',
       'POLICE_INJURED_ON_BORDER_DUTIES', 'POLICE_INJURED_TOTAL_POLICEMEN',
       'POLICE_KILLED_BY_CRIMINALS', 'POLICE_KILLED_BY_RIOTOUS_MOBS',
       'POLICE_KILLED_IN_ACCIDENTS',
       'POLICE_KILLED_IN_DACOITY_OPERATIONSOTHER_RAIDS',
       'POLICE_KILLED_IN_TERRORISTSEXTREMISTS_OPERATIONS',
       'POLICE_KILLED_ON_BORDER_DUTIES', 'POLICE_KILLED_TOTAL_POLICEMEN'],
      dtype='object')
File 7 Dimensions: (2450, 18)
8 Index(['STATE/UT', 'YEAR', 'PLACE OF OCCURRENCE',
       'DACOITY - NUMBER OF CASES REGISTERED',
       'DACOITY - VALUE OF PROPERTY STOLEN (IN RUPEES)',
       'ROBBERY - NUMBER OF CASES REGISTERED',
       'ROBBERY - VALUE OF PROPERTY STOLEN (IN RUPEES)',
       'BURGLARY - NUMBER OF CASES REGISTERED',
       'BURGLARY - VALUE OF PROPERTY STOLEN (IN RUPEES)',
       'THEFT - NUMBER OF CASES REGISTERED',
       'THEFT - VALUE OF PROPERTY STOLEN (IN RUPEES)'],
      dtype='object')
File 8 Dimensions: (4344, 11)
9 Index(['STATE/UT', 'YEAR', 'RESIDENTIAL PREMISES - DACOITY',
       'RESIDENTIAL PREMISES - ROBBERY', 'RESIDENTIAL PREMISES - BURGLARY',
       'RESIDENTIAL PREMISES - THEFT', 'HIGHWAYS - DACOITY',
       'HIGHWAYS - ROBBERY', 'HIGHWAYS - BURGLARY', 'HIGHWAYS - THEFT',
       'RIVER AND SEA - DACOITY', 'RIVER AND SEA - ROBBERY',
       'RIVER AND SEA - BURGLARY', 'RIVER AND SEA - THEFT',
       'RAILWAYS - DACOITY', 'RAILWAYS - ROBBERY', 'RAILWAYS - BURGLARY',
       'RAILWAYS - THEFT', 'BANKS - DACOITY', 'BANKS - ROBBERY',
       'BANKS - BURGLARY', 'BANKS - THEFT',
       'COMMERCIAL ESTABLISHMENTS - DACOITY',
       'COMMERCIAL ESTABLISHMENTS - ROBBERY',
       'COMMERCIAL ESTABLISHMENTS - BURGLARY',
       'COMMERCIAL ESTABLISHMENTS - THEFT', 'OTHER PLACES - DACOITY',
       'OTHER PLACES - ROBBERY', 'OTHER PLACES - BURGLARY',
       'OTHER PLACES - THEFT', 'TOTAL - DACOITY', 'TOTAL - ROBBERY',
       'TOTAL - BURGLARY', 'TOTAL - THEFT'],
      dtype='object')
File 9 Dimensions: (456, 34)
10 Index(['STATE/UT', 'YEAR', 'GROUP_NAME', 'SUB_GROUP_NAME',
       'CASES_REGISTERED_UNDER_HUMAN_RIGHTS_VIOLATIONS',
       'POLICEMEN_CHARGESHEETED', 'POLICEMEN_CONVICTED'],
      dtype='object')
File 10 Dimensions: (2162, 7)
11 Index(['STATE/UT', 'DISTRICT', 'YEAR', 'RAPE', 'KIDNAPPING AND ABDUCTION',
       'DOWRY DEATHS', 'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'INSULT TO MODESTY OF WOMEN', 'CRUELTY BY HUSBAND OR RELATIVES',
       'IMPORTATION OF GIRLS'],
      dtype='object')
File 11 Dimensions: (9017, 10)

In [35]:
#5, #6, #9

In [36]:
# Checking dimensions per file after standardization

print("File 0 dimensions:",F0.shape)
print("File 1 dimensions:",F1.shape)
print("File 2 dimensions:",F2.shape)
print("File 3 dimensions:",F3.shape)
print("File 4 dimensions:",F4.shape)
print("File 5 dimensions:",F5.shape)
print("File 6 dimensions:",F6.shape)
print("File 7 dimensions:",F7.shape)
print("File 8 dimensions:",F8.shape)
print("File 9 dimensions:",F9.shape)
print("File 10 dimensions:",F10.shape)

File 0 dimensions: (9017, 21)
File 1 dimensions: (9018, 11)
File 2 dimensions: (9018, 11)
File 3 dimensions: (9004, 14)
File 4 dimensions: (10500, 12)
File 5 dimensions: (4550, 8)
File 6 dimensions: (2450, 18)
File 7 dimensions: (4344, 11)
File 8 dimensions: (456, 34)
File 9 dimensions: (2162, 7)
File 10 dimensions: (9017, 10)

## Concatenate

In [37]:
F4C=F4[['STATE/UT','YEAR','GRAND TOTAL']]

In [38]:
data=pd.concat([F0,F1,F2,F3,F4C,F5,F6,F7,F8,F9,F10])

In [39]:
# Concatenate all files except for files 6 and 9, which covers data specific to Police Officers
# data=pd.concat([F0,F1,F2,F3,F10])
# data.shape

In [40]:
# data.drop('TOTAL',axis=1,inplace=True)

In [41]:
# Convert case

for i in data.columns:
    if data[i].dtypes=='object':
        data[i]=data[i].str.upper()

## Data Exploration

In [42]:
# Checking the new data file
data.head()

,STATE/UT,DISTRICT,YEAR,MURDER,RAPE,KIDNAPPING AND ABDUCTION,DACOITY,ROBBERY,BURGLARY,THEFT,...,OTHER PLACES - ROBBERY,OTHER PLACES - BURGLARY,OTHER PLACES - THEFT,TOTAL - DACOITY,TOTAL - ROBBERY,TOTAL - BURGLARY,TOTAL - THEFT,CASES_REGISTERED_UNDER_HUMAN_RIGHTS_VIOLATIONS,POLICEMEN_CHARGESHEETED,POLICEMEN_CONVICTED
0,ANDHRA PRADESH,ADILABAD,2001,101.0,50.0,46.0,9.0,41.0,198.0,199.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ANDHRA PRADESH,ANANTAPUR,2001,151.0,23.0,53.0,8.0,16.0,191.0,366.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ANDHRA PRADESH,CHITTOOR,2001,101.0,27.0,59.0,4.0,14.0,237.0,723.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ANDHRA PRADESH,CUDDAPAH,2001,80.0,20.0,25.0,1.0,4.0,98.0,173.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ANDHRA PRADESH,EAST GODAVARI,2001,82.0,23.0,49.0,4.0,25.0,437.0,1021.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
# Checking the dimension of the dataset.

print(f"The rows and columns in the dataset: {data.shape}")

The rows and columns in the dataset: (69536, 94)

In [44]:
# Checking duplicates in the dataset.

print("Total Duplicate Rows are:",data.duplicated().sum())

Total Duplicate Rows are: 8675

In [45]:
# Drop duplicates

data=data.drop_duplicates()

In [46]:
# Checking again duplicates in the dataset.

print("Total Duplicate Rows are:",data.duplicated().sum())

Total Duplicate Rows are: 0

There are no more duplicates in the dataset.

In [47]:
# Checking number of unique values in each column
# If there is a feature with just one value, it can be dropped.

data.nunique().to_frame("Unique values per feature")

                                                    Unique values per feature
STATE/UT                                                                   43
DISTRICT                                                                  824
YEAR                                                                       12
MURDER                                                                    498
RAPE                                                                      500
KIDNAPPING AND ABDUCTION                                                  791
DACOITY                                                                   227
ROBBERY                                                                   455
BURGLARY                                                                  922
THEFT                                                                    1751
RIOTS                                                                     804
CHEATING                                                                  824
ARSON                                                                     295
DOWRY DEATHS                                                              256
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MOD...                        553
INSULT TO MODESTY OF WOMEN                                                343
CRUELTY BY HUSBAND OR RELATIVES                                           846
IMPORTATION OF GIRLS                                                       37
CAUSING DEATH BY NEGLIGENCE                                               854
OTHERS                                                                   3199
TOTAL IPC CRIMES                                                         5010
HURT                                                                      251
FOETICIDE                                                                  31
ABETMENT OF SUICIDE                                                        18
EXPOSURE AND ABANDONMENT                                                   91
PROCURATION OF MINOR GIRLS                                                 64
BUYING OF GIRLS FOR PROSTITUTION                                           21
SELLING OF GIRLS FOR PROSTITUTION                                          35
TOTAL                                                                     449
GRAND TOTAL                                                               604
GROUP_NAME                                                                 31
SUB_GROUP_NAME                                                             32
CASES_PROPERTY_RECOVERED                                                 1037
CASES_PROPERTY_STOLEN                                                    1410
VALUE_OF_PROPERTY_RECOVERED                                              3022
VALUE_OF_PROPERTY_STOLEN                                                 3299
POLICE_INJURED_BY_CRIMINALS                                                94
POLICE_INJURED_BY_RIOTOUS_MOBS                                            155
POLICE_INJURED_IN_ACCIDENTS                                               100
POLICE_INJURED_IN_DACOITY_OPERATIONSOTHER_RAIDS                            35
POLICE_INJURED_IN_TERRORISTSEXTREMISTS_OPERATIONS                          58
POLICE_INJURED_ON_BORDER_DUTIES                                            19
POLICE_INJURED_TOTAL_POLICEMEN                                            237
POLICE_KILLED_BY_CRIMINALS                                                 21
POLICE_KILLED_BY_RIOTOUS_MOBS                                              10
POLICE_KILLED_IN_ACCIDENTS                                                 82
POLICE_KILLED_IN_DACOITY_OPERATIONSOTHER_RAIDS                             12
POLICE_KILLED_IN_TERRORISTSEXTREMISTS_OPERATIONS                           50
POLICE_KILLED_ON_BORDER_DUTIES                                             12
POLICE_KILLED_TOTAL_POLICEMEN                                              99
PLACE OF OCCURRENCE                                                        11
DACOITY - NUMBER OF CASES REGISTERED                                      303
DACOITY - VALUE OF PROPERTY STOLEN (IN RUPEES)                           1891
ROBBERY - NUMBER OF CASES REGISTERED                                      621
ROBBERY - VALUE OF PROPERTY STOLEN (IN RUPEES)                           2405
BURGLARY - NUMBER OF CASES REGISTERED                                    1006
BURGLARY - VALUE OF PROPERTY STOLEN (IN RUPEES)                          2102
THEFT - NUMBER OF CASES REGISTERED                                       1522
THEFT - VALUE OF PROPERTY STOLEN (IN RUPEES)                             2953
RESIDENTIAL PREMISES - DACOITY                                            160
RESIDENTIAL PREMISES - ROBBERY                                            217
RESIDENTIAL PREMISES - BURGLARY                                           382
RESIDENTIAL PREMISES - THEFT                                              396
HIGHWAYS - DACOITY                                                        110
HIGHWAYS - ROBBERY                                                        195
HIGHWAYS - BURGLARY                                                        64
HIGHWAYS - THEFT                                                          223
RIVER AND SEA - DACOITY                                                    10
RIVER AND SEA - ROBBERY                                                    19
RIVER AND SEA - BURGLARY                                                   12
RIVER AND SEA - THEFT                                                      59
RAILWAYS - DACOITY                                                         53
RAILWAYS - ROBBERY                                                         92
RAILWAYS - BURGLARY                                                        47
RAILWAYS - THEFT                                                          248
BANKS - DACOITY                                                            32
BANKS - ROBBERY                                                            36
BANKS - BURGLARY                                                           85
BANKS - THEFT                                                              88
COMMERCIAL ESTABLISHMENTS - DACOITY                                        76
COMMERCIAL ESTABLISHMENTS - ROBBERY                                       129
COMMERCIAL ESTABLISHMENTS - BURGLARY                                      315
COMMERCIAL ESTABLISHMENTS - THEFT                                         359
OTHER PLACES - DACOITY                                                    160
OTHER PLACES - ROBBERY                                                    287
OTHER PLACES - BURGLARY                                                   316
OTHER PLACES - THEFT                                                      413
TOTAL - DACOITY                                                           232
TOTAL - ROBBERY                                                           316
TOTAL - BURGLARY                                                          410
TOTAL - THEFT                                                             431
CASES_REGISTERED_UNDER_HUMAN_RIGHTS_VIOLATIONS                             35
POLICEMEN_CHARGESHEETED                                                    18
POLICEMEN_CONVICTED                                                         9

# Data Collection
- The population of each state.
- Literacy Rate in each state
- Area of each state

### Assumptions for data collection:

- The Population and Literacy Rate data takes into consideration the census data of 2001 and 2011. The remaining years have been calculated on the basis of decadal growth/decrease percentage.

- Area has been collected on the assumption that it is a constant value and does not vary per year.

In [49]:
# Locate unnecessary values and create a dataFrame

to_d=data.loc[data["STATE/UT"]=="TOTAL (STATES)"]
to_d2=data.loc[data["STATE/UT"]=="TOTAL (UTS)"]
to_d3=data.loc[data["STATE/UT"]=="TOTAL (ALL-INDIA)"]

In [50]:
# Drop unnecessary rows

data=pd.concat([data,to_d,to_d2,to_d3]).drop_duplicates(keep=False)

In [51]:
data.shape

(60825, 94)

## REPLACE:

- A & N ISLANDS / A&N ISLANDS / ANDAMAN & NICOBAR ISLANDS TO: ANDAMAN AND NICOBAR ISLANDS

- D & N HAVELI / D&N HAVELI TO / DADRA & NAGAR HAVELI: DADRA AND NAGAR HAVELI

- DAMAN & DIU TO: DAMAN & DIU

- DELHI UT: DELHI

- JAMMU & KASHMIR: JAMMU AND KASHMIR

In [52]:
# Rename columns to standardize fetaure names
data['STATE/UT'] = data['STATE/UT'].replace(['A & N ISLANDS', 'A&N ISLANDS', 'ANDAMAN & NICOBAR ISLANDS','D & N HAVELI','D&N HAVELI',
                                            'DADRA & NAGAR HAVELI','DAMAN & DIU','DELHI UT','JAMMU & KASHMIR'], 
                                            ['ANDAMAN AND NICOBAR ISLANDS','ANDAMAN AND NICOBAR ISLANDS','ANDAMAN AND NICOBAR ISLANDS',
                                            'DADRA AND NAGAR HAVELI','DADRA AND NAGAR HAVELI','DADRA AND NAGAR HAVELI','DAMAN AND DIU',
                                            'DELHI','JAMMU AND KASHMIR'])

In [53]:
# Check State unique values after standardization
data['STATE/UT'].unique()

array(['ANDHRA PRADESH', 'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR',
       'CHHATTISGARH', 'GOA', 'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH',
       'JAMMU AND KASHMIR', 'JHARKHAND', 'KARNATAKA', 'KERALA',
       'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA', 'MIZORAM',
       'NAGALAND', 'ODISHA', 'PUNJAB', 'RAJASTHAN', 'SIKKIM',
       'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH', 'UTTARAKHAND',
       'WEST BENGAL', 'ANDAMAN AND NICOBAR ISLANDS', 'CHANDIGARH',
       'DADRA AND NAGAR HAVELI', 'DAMAN AND DIU', 'DELHI', 'LAKSHADWEEP',
       'PUDUCHERRY'], dtype=object)

In [54]:
# Read data file with population,literacy rate and area per State and Year

dataCollection=pd.read_csv(r"C:\Users\JPGD\Documents\ANDREA GOMEZ\FLIP ROBO TECHNOLOGIES INTERNSHIP\Projects\Capstone Project\DataCollectionPY.csv",sep=";")
dataCollection.head()

                      STATE/UT  YEAR  POPULATION  AREA_KM2  LITERACY_RATE
0  ANDAMAN AND NICOBAR ISLANDS  2001      356650      8249           81.3
1  ANDAMAN AND NICOBAR ISLANDS  2002      359111      8249           81.7
2  ANDAMAN AND NICOBAR ISLANDS  2003      361589      8249           82.2
3  ANDAMAN AND NICOBAR ISLANDS  2004      364084      8249           82.6
4  ANDAMAN AND NICOBAR ISLANDS  2005      366596      8249           83.0

In [55]:
dataNew= data.merge(dataCollection, how='left',on=['STATE/UT','YEAR'])

In [56]:
#dataNew.loc[dataNew['STATE/UT']=='ANDHRA PRADESH']

In [57]:
# Checking dimensions New Dataset
dataNew.shape

(60825, 97)

In [58]:
# Separating numeric and object features

NumericData=[x for x in dataNew.columns if((dataNew[x].dtypes!='object') & (x not in ['YEAR']))]
CategoricalData=[x for x in dataNew.columns if((dataNew[x].dtypes=='object')&(x not in ['STATE/UT']))]

In [59]:
dataNew2=dataNew[['STATE/UT', 'DISTRICT', 'YEAR', 'MURDER', 'RAPE',
       'KIDNAPPING AND ABDUCTION', 'DACOITY', 'ROBBERY', 'ARSON', 'HURT',
       'OTHERS', 'DOWRY DEATHS', 'BURGLARY', 'TOTAL IPC CRIMES',
       'INSULT TO MODESTY OF WOMEN', 'RIOTS', 'CHEATING',
       'CAUSING DEATH BY NEGLIGENCE', 'THEFT',
       'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'IMPORTATION OF GIRLS', 'CRUELTY BY HUSBAND OR RELATIVES',
       'BUYING OF GIRLS FOR PROSTITUTION', 'FOETICIDE',
       'PROCURATION OF MINOR GIRLS', 'EXPOSURE AND ABANDONMENT',
       'SELLING OF GIRLS FOR PROSTITUTION', 'ABETMENT OF SUICIDE', 'TOTAL',
       'GRAND TOTAL', 'CASES_PROPERTY_STOLEN', 'VALUE_OF_PROPERTY_RECOVERED',
       'CASES_PROPERTY_RECOVERED', 'VALUE_OF_PROPERTY_STOLEN',
       'POLICE_KILLED_TOTAL_POLICEMEN', 'POLICE_INJURED_TOTAL_POLICEMEN',
       'TOTAL - DACOITY', 'TOTAL - ROBBERY', 'TOTAL - BURGLARY',
       'TOTAL - THEFT', 'POPULATION', 'AREA_KM2', 'LITERACY_RATE']]

In [63]:
#NumericData.index('BOYS 7-12 YEARS')
#NumericData.index('GIRLS 16-18 YEARS')
#NumericData.remove(removeList)

In [64]:
NumericData2=['STATE/UT','YEAR','MURDER', 'RAPE',
       'KIDNAPPING AND ABDUCTION', 'DACOITY', 'ROBBERY', 'ARSON', 'HURT',
       'OTHERS', 'DOWRY DEATHS', 'BURGLARY', 'TOTAL IPC CRIMES',
       'INSULT TO MODESTY OF WOMEN', 'RIOTS', 'CHEATING',
       'CAUSING DEATH BY NEGLIGENCE', 'THEFT',
       'ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY',
       'IMPORTATION OF GIRLS', 'CRUELTY BY HUSBAND OR RELATIVES',
       'BUYING OF GIRLS FOR PROSTITUTION', 'FOETICIDE',
       'PROCURATION OF MINOR GIRLS', 'EXPOSURE AND ABANDONMENT',
       'SELLING OF GIRLS FOR PROSTITUTION', 'ABETMENT OF SUICIDE', 'TOTAL',
       'GRAND TOTAL', 'CASES_PROPERTY_STOLEN', 'VALUE_OF_PROPERTY_RECOVERED',
       'CASES_PROPERTY_RECOVERED', 'VALUE_OF_PROPERTY_STOLEN',
       'POLICE_KILLED_TOTAL_POLICEMEN', 'POLICE_INJURED_TOTAL_POLICEMEN',
       'TOTAL - DACOITY', 'TOTAL - ROBBERY', 'TOTAL - BURGLARY',
       'TOTAL - THEFT', 'POPULATION', 'AREA_KM2', 'LITERACY_RATE']

In [66]:
dataNew.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60825 entries, 0 to 60824
Data columns (total 97 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   STATE/UT                                             60825 non-null  object
 1   DISTRICT                                             42433 non-null  object
 2   YEAR                                                 60825 non-null  int64
 3   MURDER                                               60825 non-null  float64
 4   RAPE                                                 60825 non-null  float64
 5   KIDNAPPING AND ABDUCTION                             60825 non-null  float64
 6   DACOITY                                              60825 non-null  float64
 7   ROBBERY                                              60825 non-null  float64
 8   BURGLARY                                             60825 non-null  float64
 9   THEFT                                                60825 non-null  float64
 10  RIOTS                                                60825 non-null  float64
 11  CHEATING                                             60825 non-null  float64
 12  ARSON                                                60825 non-null  float64
 13  DOWRY DEATHS                                         60825 non-null  float64
 14  ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY  60825 non-null  float64
 15  INSULT TO MODESTY OF WOMEN                           60825 non-null  float64
 16  CRUELTY BY HUSBAND OR RELATIVES                      60825 non-null  float64
 17  IMPORTATION OF GIRLS                                 60825 non-null  float64
 18  CAUSING DEATH BY NEGLIGENCE                          60825 non-null  float64
 19  OTHERS                                               60825 non-null  float64
 20  TOTAL IPC CRIMES                                     60825 non-null  float64
 21  HURT                                                 60825 non-null  float64
 22  FOETICIDE                                            60825 non-null  float64
 23  ABETMENT OF SUICIDE                                  60825 non-null  float64
 24  EXPOSURE AND ABANDONMENT                             60825 non-null  float64
 25  PROCURATION OF MINOR GIRLS                           60825 non-null  float64
 26  BUYING OF GIRLS FOR PROSTITUTION                     60825 non-null  float64
 27  SELLING OF GIRLS FOR PROSTITUTION                    60825 non-null  float64
 28  TOTAL                                                60825 non-null  float64
 29  GRAND TOTAL                                          52489 non-null  float64
 30  GROUP_NAME                                           9162 non-null   object
 31  SUB_GROUP_NAME                                       9162 non-null   object
 32  CASES_PROPERTY_RECOVERED                             52489 non-null  float64
 33  CASES_PROPERTY_STOLEN                                52489 non-null  float64
 34  VALUE_OF_PROPERTY_RECOVERED                          52489 non-null  float64
 35  VALUE_OF_PROPERTY_STOLEN                             52489 non-null  float64
 36  POLICE_INJURED_BY_CRIMINALS                          52489 non-null  float64
 37  POLICE_INJURED_BY_RIOTOUS_MOBS                       52489 non-null  float64
 38  POLICE_INJURED_IN_ACCIDENTS                          52489 non-null  float64
 39  POLICE_INJURED_IN_DACOITY_OPERATIONSOTHER_RAIDS      52489 non-null  float64
 40  POLICE_INJURED_IN_TERRORISTSEXTREMISTS_OPERATIONS    52489 non-null  float64
 41  POLICE_INJURED_ON_BORDER_DUTIES                      52489 non-null  float64
 42  POLICE_INJURED_TOTAL_POLICEMEN                       52489 non-null  float64
 43  POLICE_KILLED_BY_CRIMINALS                           52489 non-null  float64
 44  POLICE_KILLED_BY_RIOTOUS_MOBS                        52489 non-null  float64
 45  POLICE_KILLED_IN_ACCIDENTS                           52489 non-null  float64
 46  POLICE_KILLED_IN_DACOITY_OPERATIONSOTHER_RAIDS       52489 non-null  float64
 47  POLICE_KILLED_IN_TERRORISTSEXTREMISTS_OPERATIONS     52489 non-null  float64
 48  POLICE_KILLED_ON_BORDER_DUTIES                       52489 non-null  float64
 49  POLICE_KILLED_TOTAL_POLICEMEN                        52489 non-null  float64
 50  PLACE OF OCCURRENCE                                  4344 non-null   object
 51  DACOITY - NUMBER OF CASES REGISTERED                 60825 non-null  float64
 52  DACOITY - VALUE OF PROPERTY STOLEN (IN RUPEES)       60825 non-null  float64
 53  ROBBERY - NUMBER OF CASES REGISTERED                 60825 non-null  float64
 54  ROBBERY - VALUE OF PROPERTY STOLEN (IN RUPEES)       60825 non-null  float64
 55  BURGLARY - NUMBER OF CASES REGISTERED                60825 non-null  float64
 56  BURGLARY - VALUE OF PROPERTY STOLEN (IN RUPEES)      60825 non-null  float64
 57  THEFT - NUMBER OF CASES REGISTERED                   60825 non-null  float64
 58  THEFT - VALUE OF PROPERTY STOLEN (IN RUPEES)         60825 non-null  float64
 59  RESIDENTIAL PREMISES - DACOITY                       60772 non-null  float64
 60  RESIDENTIAL PREMISES - ROBBERY                       60772 non-null  float64
 61  RESIDENTIAL PREMISES - BURGLARY                      60772 non-null  float64
 62  RESIDENTIAL PREMISES - THEFT                         60772 non-null  float64
 63  HIGHWAYS - DACOITY                                   60772 non-null  float64
 64  HIGHWAYS - ROBBERY                                   60772 non-null  float64
 65  HIGHWAYS - BURGLARY                                  60772 non-null  float64
 66  HIGHWAYS - THEFT                                     60772 non-null  float64
 67  RIVER AND SEA - DACOITY                              60772 non-null  float64
 68  RIVER AND SEA - ROBBERY                              60772 non-null  float64
 69  RIVER AND SEA - BURGLARY                             60772 non-null  float64
 70  RIVER AND SEA - THEFT                                60772 non-null  float64
 71  RAILWAYS - DACOITY                                   60772 non-null  float64
 72  RAILWAYS - ROBBERY                                   60772 non-null  float64
 73  RAILWAYS - BURGLARY                                  60772 non-null  float64
 74  RAILWAYS - THEFT                                     60772 non-null  float64
 75  BANKS - DACOITY                                      60772 non-null  float64
 76  BANKS - ROBBERY                                      60772 non-null  float64
 77  BANKS - BURGLARY                                     60772 non-null  float64
 78  BANKS - THEFT                                        60772 non-null  float64
 79  COMMERCIAL ESTABLISHMENTS - DACOITY                  60772 non-null  float64
 80  COMMERCIAL ESTABLISHMENTS - ROBBERY                  60772 non-null  float64
 81  COMMERCIAL ESTABLISHMENTS - BURGLARY                 60772 non-null  float64
 82  COMMERCIAL ESTABLISHMENTS - THEFT                    60772 non-null  float64
 83  OTHER PLACES - DACOITY                               60772 non-null  float64
 84  OTHER PLACES - ROBBERY                               60772 non-null  float64
 85  OTHER PLACES - BURGLARY                              60772 non-null  float64
 86  OTHER PLACES - THEFT                                 60772 non-null  float64
 87  TOTAL - DACOITY                                      60772 non-null  float64
 88  TOTAL - ROBBERY                                      60772 non-null  float64
 89  TOTAL - BURGLARY                                     60772 non-null  float64
 90  TOTAL - THEFT                                        60772 non-null  float64
 91  CASES_REGISTERED_UNDER_HUMAN_RIGHTS_VIOLATIONS       33396 non-null  float64
 92  POLICEMEN_CHARGESHEETED                              33396 non-null  float64
 93  POLICEMEN_CONVICTED                                  33396 non-null  float64
 94  POPULATION                                           60825 non-null  int64
 95  AREA_KM2                                             60825 non-null  int64
 96  LITERACY_RATE                                        60825 non-null  float64
dtypes: float64(89), int64(3), object(5)
memory usage: 45.5+ MB

In [67]:
# Replacing missing values with average values based on State and Year
for x in dataNew:
    if dataNew[x].dtypes!='object' and dataNew[x].isnull().sum()>0:
        #Total[x]=Total.groupby("").transform(lambda x: x.fillna(x.mean()))
        #print(dataNew2.loc[dataNew[x]=="BOYS 7-12 YEARS"])
        #print(x)
        # Replace missing data with features mean
        dataNew[x]=dataNew[x].fillna(dataNew.groupby(["STATE/UT","YEAR"])[x].transform('mean'))

In [68]:
# Handling missing data in Categorical features

for i in CategoricalData:
    if dataNew[i].isnull().sum()>0:
        #print(i)
        #dataNew[i]=dataNew.groupby(["STATE/UT","YEAR"]).transform(lambda x: x.fillna(x.mean()))
        dataNew[i]=dataNew[i].fillna(dataNew.groupby(["STATE/UT","YEAR"])[x].transform('mean'))
    else:
        dataNew[i]=dataNew[i].fillna(dataNew.groupby("STATE/UT")[x].transform('mean'))

In [69]:
# Drop missing data
dataNew=dataNew.dropna()

In [70]:
dataNew.isnull().sum()

STATE/UT                                               0
DISTRICT                                               0
YEAR                                                   0
MURDER                                                 0
RAPE                                                   0
KIDNAPPING AND ABDUCTION                               0
DACOITY                                                0
ROBBERY                                                0
BURGLARY                                               0
THEFT                                                  0
RIOTS                                                  0
CHEATING                                               0
ARSON                                                  0
DOWRY DEATHS                                           0
ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY    0
INSULT TO MODESTY OF WOMEN                             0
CRUELTY BY HUSBAND OR RELATIVES                        0
IMPORTATION OF GIRLS                                   0
CAUSING DEATH BY NEGLIGENCE                            0
OTHERS                                                 0
TOTAL IPC CRIMES                                       0
HURT                                                   0
FOETICIDE                                              0
ABETMENT OF SUICIDE                                    0
EXPOSURE AND ABANDONMENT                               0
PROCURATION OF MINOR GIRLS                             0
BUYING OF GIRLS FOR PROSTITUTION                       0
SELLING OF GIRLS FOR PROSTITUTION                      0
TOTAL                                                  0
GRAND TOTAL                                            0
GROUP_NAME                                             0
SUB_GROUP_NAME                                         0
CASES_PROPERTY_RECOVERED                               0
CASES_PROPERTY_STOLEN                                  0
VALUE_OF_PROPERTY_RECOVERED                            0
VALUE_OF_PROPERTY_STOLEN                               0
POLICE_INJURED_BY_CRIMINALS                            0
POLICE_INJURED_BY_RIOTOUS_MOBS                         0
POLICE_INJURED_IN_ACCIDENTS                            0
POLICE_INJURED_IN_DACOITY_OPERATIONSOTHER_RAIDS        0
POLICE_INJURED_IN_TERRORISTSEXTREMISTS_OPERATIONS      0
POLICE_INJURED_ON_BORDER_DUTIES                        0
POLICE_INJURED_TOTAL_POLICEMEN                         0
POLICE_KILLED_BY_CRIMINALS                             0
POLICE_KILLED_BY_RIOTOUS_MOBS                          0
POLICE_KILLED_IN_ACCIDENTS                             0
POLICE_KILLED_IN_DACOITY_OPERATIONSOTHER_RAIDS         0
POLICE_KILLED_IN_TERRORISTSEXTREMISTS_OPERATIONS       0
POLICE_KILLED_ON_BORDER_DUTIES                         0
POLICE_KILLED_TOTAL_POLICEMEN                          0
PLACE OF OCCURRENCE                                    0
DACOITY - NUMBER OF CASES REGISTERED                   0
DACOITY - VALUE OF PROPERTY STOLEN (IN RUPEES)         0
ROBBERY - NUMBER OF CASES REGISTERED                   0
ROBBERY - VALUE OF PROPERTY STOLEN (IN RUPEES)         0
BURGLARY - NUMBER OF CASES REGISTERED                  0
BURGLARY - VALUE OF PROPERTY STOLEN (IN RUPEES)        0
THEFT - NUMBER OF CASES REGISTERED                     0
THEFT - VALUE OF PROPERTY STOLEN (IN RUPEES)           0
RESIDENTIAL PREMISES - DACOITY                         0
RESIDENTIAL PREMISES - ROBBERY                         0
RESIDENTIAL PREMISES - BURGLARY                        0
RESIDENTIAL PREMISES - THEFT                           0
HIGHWAYS - DACOITY                                     0
HIGHWAYS - ROBBERY                                     0
HIGHWAYS - BURGLARY                                    0
HIGHWAYS - THEFT                                       0
RIVER AND SEA - DACOITY                                0
RIVER AND SEA - ROBBERY                                0
RIVER AND SEA - BURGLARY                               0
RIVER AND SEA - THEFT                                  0
RAILWAYS - DACOITY                                     0
RAILWAYS - ROBBERY                                     0
RAILWAYS - BURGLARY                                    0
RAILWAYS - THEFT                                       0
BANKS - DACOITY                                        0
BANKS - ROBBERY                                        0
BANKS - BURGLARY                                       0
BANKS - THEFT                                          0
COMMERCIAL ESTABLISHMENTS - DACOITY                    0
COMMERCIAL ESTABLISHMENTS - ROBBERY                    0
COMMERCIAL ESTABLISHMENTS - BURGLARY                   0
COMMERCIAL ESTABLISHMENTS - THEFT                      0
OTHER PLACES - DACOITY                                 0
OTHER PLACES - ROBBERY                                 0
OTHER PLACES - BURGLARY                                0
OTHER PLACES - THEFT                                   0
TOTAL - DACOITY                                        0
TOTAL - ROBBERY                                        0
TOTAL - BURGLARY                                       0
TOTAL - THEFT                                          0
CASES_REGISTERED_UNDER_HUMAN_RIGHTS_VIOLATIONS         0
POLICEMEN_CHARGESHEETED                                0
POLICEMEN_CONVICTED                                    0
POPULATION                                             0
AREA_KM2                                               0
LITERACY_RATE                                          0
dtype: int64

In [71]:
# Save File 
# dataNew.to_csv('DATA_COMP2.csv')
#dataNew.to_csv('C:\\Users\\JPGD\\Documents\\ANDREA GOMEZ\\FLIP ROBO TECHNOLOGIES INTERNSHIP\\Projects\\Capstone Project\\DATA_Comp.csv', sep=';')

# Sources
Population:
https://en.wikipedia.org/wiki/List_of_states_in_India_by_past_population
2011
https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_population
https://www.macrotrends.net/countries/IND/india/population

Area:
https://statisticstimes.com/geography/india/indian-states-area.php
https://www.simadnh.org/dnh-geography.html#:~:text=The%20area%20of%20Dadra%20%26%20Nagar,themselves%20on%202nd%20August%201954.
https://www.britannica.com/summary/Daman-and-Diu#:~:text=Daman%20and%20Diu%2C%20Former%20union,mi%20(112%20sq%20km).

Literacy rate:
https://en.wikipedia.org/wiki/List_of_Indian_states_and_union_territories_by_literacy_rate

In [38]:
# Merge files
#data_merged = listA[0].merge(listA[1], how='outer')
#data_merged

In [ ]:
#data_merged=listA[0].merge(listA[2],on="STATE/UT", how='outer')
#data_merged